[Desktop Entry]
Name=Pakos Welcome
GenericName=Pakos Welcome
X-GNOME-FullName=Pakos Welcome
Comment=Welcome Application for Pakos Installs
Exec=/usr/local/bin/Pakos-welcome-app
Icon=Pakos-hello
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
