[Desktop Entry]
Name=tthlinux Welcome App
GenericName=tthlinux Welcome App
X-GNOME-FullName=tthlinux Welcome App
Comment=Welcome Application for tthlinux Installations
Exec=/usr/local/bin/tthlinux-welcome-app
Icon=tthlinux-hello
Terminal=false

Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
